---
import { siteConfig } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteConfig.description} />
    <title>{siteConfig.name} - {siteConfig.title}</title>
  </head>
  <body class="bg-black">
    <!-- <Header /> -->
    <div class="min-h-screen flex flex-col items-center justify-center overflow-hidden text-white">
      <div class="flex flex-row flex-wrap items-center justify-center">
        <a href="/Photo" class="group flex flex-col items-center justify-center text-center mb-4">
          <img src={siteConfig.media.tong} class="h-auto w-96 cursor-pointer transition-all duration-300 ease-out group-hover:invert"/>
          <p class="opacity-100 md:opacity-0 transition-all duration-300 ease-out md:group-hover:opacity-100">Photo</p>
        </a>
        <a href="/Video" class="group flex flex-col items-center justify-center text-center mb-4">
          <img src={siteConfig.media.sakatuca} class="h-auto w-96 cursor-pointer transition-all duration-300 ease-out group-hover:invert"/>
          <p class="opacity-100 md:opacity-0 transition-all duration-300 ease-out md:group-hover:opacity-100 mt-2">Video</p>
        </a>
        <a href="/Design" class="group flex flex-col items-center justify-center text-center mb-4">
          <img src={siteConfig.media.zerb} class="h-auto w-96 cursor-pointer transition-all duration-300 ease-out group-hover:invert"/>
          <p class="opacity-100 md:opacity-0 transition-all duration-300 ease-out md:group-hover:opacity-100">Design</p>
        </a>
      </div>
    </div>
  </body>
</html>
