---
import { siteConfig } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteConfig.description} />
    <title>{siteConfig.name} - {siteConfig.title}</title>
  </head>
  <body class="flex items-center justify-center bg-black min-h-screen min-w-screen bg-[url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDdrMG93dWU5MTFqdWRvamx0dnp4cTJ1Z2ZqeWN0OGRwaG8yeHR2OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xVn3ZmKrKIOLS/giphy.gif')]
         bg-repeat">
    <!-- <Header /> -->
    <div class="flex flex-row flex-wrap items-center justify-center text-white">
      <a href="/Photo" class="w-72 md:w-96 group flex flex-col items-center justify-center mb-4">
        <img src={siteConfig.media.tong} class="cursor-pointer transition-all duration-300 ease-out group-hover:invert"/>
        <p class="rounded text-md md:text-lg opacity-100 md:opacity-0 transition-all duration-300 ease-out md:group-hover:opacity-100">Photo</p>
      </a>
      <a href="/Video" class="w-72 md:w-96 group flex flex-col items-center justify-center mb-4">
        <img src={siteConfig.media.sakatuca} class="cursor-pointer transition-all duration-300 ease-out group-hover:invert"/>
        <p class="text-md md:text-lg opacity-100 md:opacity-0 transition-all duration-300 ease-out md:group-hover:opacity-100 mt-2">Video</p>
      </a>
      <a href="/Design" class="w-72 md:w-96 group flex flex-col items-center justify-center mb-4">
        <img src={siteConfig.media.zerb} class="cursor-pointer transition-all duration-300 ease-out group-hover:invert"/>
        <p class="text-md md:text-lg opacity-100 md:opacity-0 transition-all duration-300 ease-out md:group-hover:opacity-100">Design</p>
      </a>
    </div>
  </body>
</html>
