---
import "../styles/global.css";
import { siteConfig } from "../config";
import { Image } from 'astro:assets';
import sky from "../media/sky.jpg";
import star from "../media/star.jpg";
import trail from "../media/trail.jpg";
import jump from "../media/jump.jpg";
import raft from "../media/raft.jpg";
import float from "../media/float.jpg";
import panda from "../media/panda.jpg";
import smile from "../media/smile.jpg";
import shore from "../media/shore.jpg";
import sol from "../media/sol.jpg";
import hop from "../media/hop.jpg";
import aura from "../media/aura.jpg";
import seasick from "../media/seasick.jpg";
import christmas from "../media/christmas.jpg";
import ama_halmoni from "../media/ama_halmoni.jpg";
import uncles from "../media/uncles.jpg";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Photo</title>
  </head>
  <body class="bg-black text-white min-h-screen p-4">
    <a href="/">
      <p class="inline-block cursor-pointer hover:text-gray-400 text-2xl transition-all duration-50 ease-in-out pb-4">Back</p>
    </a>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
      <Image src={sky} alt="" inferSize/>
      <Image src={star} alt="" inferSize/>
      <Image src={trail} alt="" inferSize/>
      <Image src={jump} alt="" inferSize/>
      <Image src={raft} alt="" inferSize/>
      <div class="flex flex-col items-center justify-evenly">
        <Image src={float} alt="" inferSize/>
        <Image src={panda} alt="" inferSize/>
      </div>
      <Image src={shore} alt="" inferSize/>
      <Image src={smile} alt="" inferSize/>
      <Image src={sol} alt="" inferSize/>
      <Image src={hop} alt="" inferSize/>
      <Image src={aura} alt="" inferSize/>
      <Image src={seasick} alt="" inferSize/>
      <Image src={christmas} alt="" inferSize/>
      <Image src={uncles} alt="" inferSize/>
      <Image src={ama_halmoni} alt="" inferSize/>
    </div>
  </body>
</html>