---
import { siteConfig } from "../config";
import Image from "astro/components/Image.astro";
---

<section 
  id="ocean"
  class="h-100 bg-repeat bg-auto"
  style={`background-image: url('${siteConfig.backgrounds.stars3}')`}
>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-16 items-start">
      <!-- <Image src={siteConfig.photos.hop} alt={""} inferSize={true}/>
      <Image src={siteConfig.photos.seasick} alt={""} inferSize={true}/>
      <Image src={siteConfig.photos.aura} alt={""} inferSize={true}/>
      <p class="text-white text-sm">pacifica / fuji xt-30 ii</p> -->
    </div>
</section>
