---
import { siteConfig } from "../config";
import Image from "astro/components/Image.astro";
---

<section
  id="top"
  class="w-full h-80 bg-repeat bg-auto"
  style={`background-image: url('${siteConfig.backgrounds.stars}')`}
>
  <div class="relative flex flex-row items-center justify-center flex-row flex-wrap w-full h-80">
    <div class="md:hidden flex w-full h-20 overflow-hidden">
      <img 
        src={siteConfig.photos.title3} 
        alt=""
        class="w-full h-full object-cover object-center"
      />
    </div>
    <div id="solar" class="relative w-100 h-60">
      <img src={siteConfig.gifs.earth} class="absolute w-6 h-auto top-16 left-8 rotate-165"/>
      <img src={siteConfig.gifs.sun2} class="absolute w-18 h-auto top-6 left-16 -rotate-35"/>
      <img src={siteConfig.gifs.jupiter} class="absolute w-24 h-auto top-16 left-22 -rotate-15"/>
      <img src={siteConfig.gifs.saturn2} class="absolute w-96 h-auto top-12 left-16"/>
    </div>
    <div class="relative w-100 h-60">
      <img src={siteConfig.gifs.gundam2} class="absolute w-22 h-auto top-4 left-70 rotate-20"/>
      <img src={siteConfig.gifs.blaster} class="absolute w-40 h-auto top-12 left-36 -rotate-30"/>
      <img src={siteConfig.gifs.blaster} class="absolute w-40 h-auto top-13 left-32 -rotate-30"/>
      <img src={siteConfig.gifs.gundam3} class="absolute w-32 h-auto top-22 left-8 -scale-x-100 -rotate-25"/>
    </div>
    <div></div>
  </div>
  
  <div id="myModal" class="modal hidden absolute inset-0 flex items-center justify-center" onclick="closeModal('myModal')">
    <img src={siteConfig.photos.sky} width="500px" ="full">
  </div>
</section>

<script>
  declare global {
    interface Window {
      openModal: (id: string) => void;
      closeModal: (id: string) => void;
    }
  }
  window.openModal = (id) => {
    const el = document.getElementById(id);
    if (el) el.classList.remove('hidden');
  };

  window.closeModal = (id) => {
    const el = document.getElementById(id);
    if (el) el.classList.add('hidden');
  };
</script>