---
import { siteConfig } from "../config";
import Image from "astro/components/Image.astro";
---

<section
  id="top"
  class="w-full h-80 bg-repeat bg-auto"
  style={`background-image: url('${siteConfig.backgrounds.stars}')`}
>
  <div class="relative grid grid-cols-3 w-full h-full ">
    <div id="solar" class="relative">
      <img src={siteConfig.gifs.earth} class="absolute w-10 h-auto top-40 left-20 rotate-165"/>
      <img src={siteConfig.gifs.sun2} class="absolute w-30 h-auto top-30 left-30 -rotate-35"/>
      <img src={siteConfig.gifs.jupiter} class="absolute w-52 h-auto top-40 left-36 -rotate-15"/>
      <img src={siteConfig.gifs.saturn2} class="absolute w-156 h-auto top-36 left-28"/>
    </div>
    <div class="relative">
      <img src={siteConfig.gifs.asteroid} class="absolute w-25 h-auto top-30 rotate-30"/>
      <img src={siteConfig.gifs.gundam2} class="absolute w-25 h-auto top-32 left-86 rotate-20"/>
      <img src={siteConfig.gifs.blaster} class="absolute w-40 h-auto top-42 left-52 -rotate-30"/>
      <img src={siteConfig.gifs.gundam3} class="absolute w-36 h-auto top-54 left-24 -scale-x-100 -rotate-25"/>
    </div>
    <div></div>

    <img 
      src={siteConfig.photos.title3} 
      alt=""
      class="md:hidden absolute left-1/2 top-20 -translate-1/2"
    />
  </div>
  
  <div id="myModal" class="modal hidden absolute inset-0 flex items-center justify-center" onclick="closeModal('myModal')">
    <img src={siteConfig.photos.sky} width="500px" ="full">
  </div>
</section>

<script>
  declare global {
    interface Window {
      openModal: (id: string) => void;
      closeModal: (id: string) => void;
    }
  }
  window.openModal = (id) => {
    const el = document.getElementById(id);
    if (el) el.classList.remove('hidden');
  };

  window.closeModal = (id) => {
    const el = document.getElementById(id);
    if (el) el.classList.add('hidden');
  };
</script>