---
import { siteConfig } from "../config";
import Image from "astro/components/Image.astro";
---

<section
  id="stars"
  class="h-100 bg-repeat bg-auto p-4"
  style={`background-image: url('${siteConfig.backgrounds.stars}')`}
>
  <div class="relative flex flex-wrap">
    <!-- <img src={siteConfig.gifs.kamina} alt="" class="h-20 sm:h-28 md:h-35 max-w-full"/> -->
    <div class="flex flew-row items-center w-full h-16 sm:h-24 md:h-32 overflow-hidden">
      <img src={siteConfig.gifs.star3} alt="" class="h-10 sm:h-16 md:h-24 max-w-full"/>
      <img src={siteConfig.photos.title} alt="" class="w-full h-full object-cover"/>
      <img src={siteConfig.gifs.star3} alt="" class="h-10 sm:h-16 md:h-24 max-w-full"/>
    </div>
    <!-- <img src={siteConfig.gifs.lagann} alt="" class="h-20 sm:h-28 md:h-35 max-w-full"/>
    <img src={siteConfig.gifs.star} alt="" class="h-45 cursor-pointer" onclick="openModal('myModal')"/> -->
    <div class="relative absolute size-90">
      <!-- <img src={siteConfig.gifs.pisces} alt="" class="absolute w-full h-full"/> -->
      <img src={siteConfig.gifs.neptune} alt="" class="absolute size-18 left-6 top-8"/>
      <div class="absolute overflow-hidden rounded-full size-14 left-30 top-16">
        <img src={siteConfig.gifs.galaxy2} alt="" class="w-full h-full object-cover"/>
      </div>
      <img src={siteConfig.gifs.earth} alt="" class="absolute h-auto w-10 left-52 top-10"/>
      <img src={siteConfig.gifs.magnetic} alt="" class="absolute h-auto w-18 left-5 top-54"/>
      <img src={siteConfig.gifs.star2} alt="" class="absolute h-auto w-6 left-36 top-72"/>
      <img src={siteConfig.gifs.lagann} alt="" class="absolute size-32 left-60 top-16"/>
      <img src={siteConfig.gifs.blackhole} alt="" class="absolute h-auto w-24 left-6 top-30 rotate-45"/>
      <img src={siteConfig.gifs.saturn2} alt="" class="absolute h-auto w-44 left top-78"/>
      <img src={siteConfig.gifs.kamina} alt="" class="absolute h-auto w-46 left-50 top-50"/>
      <img src={siteConfig.gifs.kamina} alt="" class="absolute h-auto w-46 left-36 top-70"/>
      <img src={siteConfig.gifs.kamina} alt="" class="absolute h-auto w-46 left-22 top-90"/>
      <div class="size-32 absolute overflow-hidden rounded-full left-32 top-34 ">
        <img src={siteConfig.gifs.sinnoh} alt="" class="w-full h-full object-cover cursor-pointer" onclick="openModal('myModal')"/>
      </div>
    </div>
    <!-- <img src={siteConfig.gifs.meteor} alt="" class="h-45"/>
    <img src={siteConfig.gifs.kamina} alt="" class="h-45"/>
    <img src={siteConfig.gifs.lagann} alt="" class="h-45"/>
    <img src={siteConfig.gifs.slusny} alt="" class="h-45"/>
    <img src={siteConfig.gifs.becko} alt="" class="h-45"/>
    <img src={siteConfig.gifs.yoyo} alt="" class="h-45"/>
    <img src={siteConfig.gifs.gentry} alt="" class="h-45"/>
    <img src={siteConfig.gifs.neptune} alt="" class="h-45"/>
    <img src={siteConfig.gifs.mars} alt="" class="h-45"/>
    <img src={siteConfig.gifs.moon} alt="" class="h-45"/>
    <img src={siteConfig.gifs.jupiter} alt="" class="h-45"/>
    <img src={siteConfig.gifs.magnetic} alt="" class="h-45"/>
    <img src={siteConfig.gifs.earth} alt="" class="h-45"/>
    <img src={siteConfig.gifs.spaceship} alt="" class="h-45"/>
    <img src={siteConfig.gifs.enterprise} alt="" class="h-45"/>
    <img src={siteConfig.gifs.borg} alt="" class="h-45"/>
    <img src={siteConfig.gifs.enterprise2} alt="" class="h-45"/>
    <img src={siteConfig.gifs.star2} alt="" class="h-45"/>
    <img src={siteConfig.gifs.star3} alt="" class="h-45"/>
    <img src={siteConfig.gifs.star4} alt="" class="h-45"/>
    <img src={siteConfig.gifs.star5} alt="" class="h-45"/>
    <img src={siteConfig.gifs.asteroid} alt="" class="h-45"/>
    <img src={siteConfig.gifs.sun} alt="" class="h-45"/>
    <img src={siteConfig.gifs.planet} alt="" class="h-45"/>
    <img src={siteConfig.gifs.saturn} alt="" class="h-45"/>
    <img src={siteConfig.gifs.astra} alt="" class="h-45"/>
    <img src={siteConfig.gifs.firework} alt="" class="h-45"/>
    <img src={siteConfig.gifs.boota} alt="" class="h-45"/>
    <img src={siteConfig.gifs.blackhole} alt="" class="h-45"/>
    <img src={siteConfig.gifs.tv} alt="" class="h-45"/>
    <img src={siteConfig.gifs.falcon} alt="" class="h-45"/>
    <img src={siteConfig.gifs.teletubby} alt="" class="h-45"/>
    <img src={siteConfig.gifs.eclipse} alt="" class="h-45"/>
    <img src={siteConfig.gifs.eclipse2} alt="" class="h-45"/>
    <img src={siteConfig.photos.title} alt="" class="h-45"/> -->
  </div>
  
  <div id="myModal" class="modal hidden absolute inset-0 flex items-center justify-center" onclick="closeModal('myModal')">
    <img src={siteConfig.photos.sky} width="500px" ="full">
  </div>
</section>

<script>
  declare global {
    interface Window {
      openModal: (id: string) => void;
      closeModal: (id: string) => void;
    }
  }
  window.openModal = (id) => {
    const el = document.getElementById(id);
    if (el) el.classList.remove('hidden');
  };

  window.closeModal = (id) => {
    const el = document.getElementById(id);
    if (el) el.classList.add('hidden');
  };
</script>